[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "==1.0.5"
async-timeout = "==2.0.0"
certifi = "==2022.12.7"
chardet = "==3.0.4"
discord = "*"
"discord.py" = "==0.16.12"
idna = "==2.6"
multidict = "==4.1.0"
requests = "*"
"urllib3" = "==1.22"
websockets = "==3.4"


[dev-packages]



[requires]

python_version = "3.6"
